ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
  
li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    color: white;
}

h3 {
    padding: 3%;
    font-size: 2.5em;
    text-align: center;
}

.navbar{
    list-style-type: none;
    margin: 0;
    padding: 0 1% 0 2%;
    overflow: hidden;
    background-color: skyblue;
    color: black;
    font-size: 30px;
    text-decoration: none;
}

.navbar-title{
    list-style-type: none;
    margin: 0;
    padding: 0 1% 0 2%;
    overflow: hidden;
    background-color: skyblue;
    color: black;
    font-size: 30px;
    text-decoration: none;
}

.navbar-title:hover {
    color: white;
}


.btns {
    border-radius: 7px;
    background-color: skyblue;
    color: white;
    padding: 6px;
    text-decoration: none;
}

.btns:hover {
    color: black;
}

th {
    font-size: 1.25em;
}

.form-group {
    font-size: 1.2em;
    padding-left: 40%;
    padding-right: 20%;
}

.form-control {
    margin: 2%;
    width: 50%;

}


/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}